body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #F5F5F5;
}

.mainApp {
    border: none;
    border-radius: 0px 0px 24px 24px;
    padding: 20px 10px 30px 10px;
    box-shadow: 0px 3px 5px #a5a7a679;
    background: url(assets/pokeball_gray.png) no-repeat;
    background-size: 150px;
    background-position: top right -75px;
    background-color: rgb(255, 255, 255);
}

.headerApp {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 36px;
    width: 100%;
}

.searchBar {
    width: 100%;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.blue {
    color: blue;
}

.pointer:hover {
    cursor: pointer;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-10 {
    padding: 10px
}

.p-20 {
    padding: 20px;
}

.h-auto {
    height: auto;
}

.gray {
    color: gray;
}

.white {
    color: white;
}

.f-s {
    font-size: 12px;
}

.separator {
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.separator:last-child {
    border: none;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-items: end;
}

.News {
    padding: 20px 20px;
}

#searchText {
    border: none;
    width: 85%;
    line-height: 38px;
    border-radius: 28px;
    padding: 10px 0px 10px 45px;
    background: url(assets/magnifying.png) no-repeat scroll 12px 17px;
    background-size: 22px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 2px;
    font-size: 14px;
}

.mainLinks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.pokemonImage {
    position: relative;
}

.pokemonImage img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.menuIcon {
    height: 30px;
    width: auto;
}

.pokemon {
    margin-bottom: 15px;
    border-radius: 12px;
    background: url(assets/pokeball_gray.png) no-repeat;
    background-color: #44C7A7;
    background-size: 80px;
    background-position: bottom right;
    box-shadow: 0px 3px 3px #44c7a654;
}

.pokemon p {
    background-color: rgba(255, 255, 255, 0.384);
    text-align: center;
    border-radius: 14px;
}

#pokedex {
    background-color: #4EC2A7;
    box-shadow: 0px 5px 8px #4ec2a7d5 ;
}

#Moves {
    background-color: #F7796B;
    box-shadow: 0px 5px 8px #f7796bc7;
}

#Abilities {
    background-color: #57ABF6;
    box-shadow: 0px 5px 8px #57acf6b4;
}

#Items {
    background-color: #FFCF4A;
    box-shadow: 0px 5px 8px #ffcf4abd;
}

#Locations {
    background-color: #7D528D;
    box-shadow: 0px 5px 8px #7D528D;
}

#TypeCharts {
    background-color: #B2746C;
    box-shadow: 0px 5px 8px #b2746ccc;
}

button {
    background: url(assets/pokeball_gray_left.png) no-repeat;
    background-position: center right;
    background-size: 52px;
    padding: 20px;
    width: 48%;
    border-radius: 15px;
    border: none;
    line-height: 2em;
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: white;
    text-align: left;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(10px);
    transition-duration: 500ms;
}
